<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 对应 IHcFileDao 接口 -->
<mapper namespace="com.zeroone.star.propertymanage.mapper.HcFileMapper">

    <!-- 保存文件元数据 -->
    <!-- 对应 hc_file 表字段: file_id, community_id, file_name, context, suffix, create_time, status_cd -->
    <!-- 参数类型使用 Map -->
    <insert id="saveFile" parameterType="map">
        insert into hc_file(
            file_id, community_id, file_name, suffix, create_time, status_cd, context
        ) values (
                     #{fileId}, #{communityId}, #{fileName}, #{suffix}, #{createTime}, #{statusCd}, #{context}
                 )
    </insert>
</mapper>