<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zeroone.star.propertymanage.mapper.InvoiceMapper">


    <resultMap id="SelectInvoice" type="com.zeroone.star.project.dto.j7.propertymanage.invoice.QueryInvoiceDTO">
        <id property="applyId" column="apply_id"/>
    </resultMap>
    <insert id="insertInvoiceItem" parameterType="com.zeroone.star.propertymanage.entity.InvoiceItem" keyProperty="itemId">
          insert into invoice_apply_item(item_id,apply_id,item_type,item_name,item_obj_id,item_amount,community_id,remark,status_cd
          ,pay_time,create_time)
        values (#{itemId},#{applyId},#{itemType},#{itemName},#{itemObjId},#{itemAmount},#{communityId},#{remark},#{statusCd}
               ,#{payTime},#{createTime})
    </insert>
    <select id="selectInvoice" resultMap="SelectInvoice">
        select
               ia.apply_id,ia.invoice_type,ia.owner_name,ia.create_user_name,
               oi.invoice_name,oi.invoice_num,oi.invoice_address,
               ia.invoice_amount,ia.invoice_code,ia.state,ia.create_time,
               ia.apply_tel,oi.community_id,ia.create_user_id,oi.oi_id,ia.remark,ia.status_cd
        from owner_invoice as oi
        inner join
             invoice_apply as ia
        on oi.oi_id = ia.oi_id
        where
            1=1
        <if test="invoiceCode != null and invoiceCode !='' ">
            AND ia.invoice_code = #{invoiceCode}
        </if>
        <if test="invoiceType != null and invoiceType !='' ">
            AND ia.invoice_type = #{invoiceType}
        </if>
        <if test="ownerName != null and ownerName !='' ">
            AND ia.owner_name = #{ownerName}
        </if>
        <if test="createUserName != null and createUserName !='' ">
            AND ia.create_user_name = #{createUserName}
        </if>
        <if test="applyTel != null and applyTel !='' ">
            AND ia.apply_tel = #{applyTel}
        </if>

    </select>

    <select id="selectInvoiceDetail" resultType="com.zeroone.star.propertymanage.entity.Invoice">
        select
            ia.apply_id,ia.invoice_type,ia.owner_name,ia.create_user_name,
            oi.invoice_name,oi.invoice_num,oi.invoice_address,
            ia.invoice_amount,ia.invoice_code,ia.state,ia.create_time,
            ia.apply_tel,oi.community_id,ia.create_user_id,oi.oi_id,ia.remark,ia.status_cd
        from owner_invoice as oi
        inner join
             invoice_apply as ia
        on oi.oi_id = ia.oi_id
        where
            ia.apply_id = #{applyId}
        and oi.community_id = #{communityId}
    </select>


        <select id="selectInvoiceDetails"
            resultType="com.zeroone.star.project.dto.j7.propertymanage.invoice.InvoiceDetailsDTO">
        select item_id,apply_id,community_id,item_amount,item_name,item_obj_id,item_type,pay_time,remark,status_cd
        from invoice_apply_item
        where
            apply_id = #{applyId}
          and community_id = #{communityId}
    </select>
    <select id="selectAuditRecords"
            resultType="com.zeroone.star.project.dto.j7.propertymanage.invoice.AuditRecordsDTO">
        select event_id,apply_id,community_id,create_time,create_user_id,create_user_name,event_id,event_type,
               remark,status_cd
        from invoice_event
        where
            apply_id = #{applyId}
          and community_id = #{communityId}
    </select>

    <select id="selectInvoiceImage"
            resultType="com.zeroone.star.project.dto.j7.propertymanage.invoice.QueryInvoiceImageDTO">
        SELECT DISTINCT fr.file_save_name
        FROM invoice_apply ia
                 JOIN file_rel fr ON ia.apply_id = fr.obj_id
                 JOIN hc_file hf ON ia.community_id = hf.community_id
        WHERE ia.apply_id = #{applyId}
          AND ia.community_id = #{communityId};
    </select>

</mapper>
