<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.configmanager.mapper.TDictSpecMapper">
    <select id="selectAllTableNames" resultType="string">
        SELECT DISTINCT table_name FROM t_dict_spec
    </select>

    <select id="existsByTableName" parameterType="string" resultType="boolean">
        SELECT COUNT(*) > 0 FROM t_dict_spec WHERE table_name = #{tableName}
    </select>
    <select id="selectBySpecName" resultType="com.zeroone.star.configmanager.entity.TDictSpec">
        SELECT * FROM t_dict_spec WHERE spec_name = #{specName}
    </select>
    <select id="getAllSpecNames" resultType="java.lang.String">
        SELECT DISTINCT spec_name FROM t_dict_spec
    </select>
    <select id="getAllSpecIds" resultType="java.lang.String">
        SELECT DISTINCT spec_id FROM t_dict_spec
    </select>
    <select id="selectBySpecId" resultType="com.zeroone.star.configmanager.entity.TDictSpec">
        SELECT * FROM t_dict_spec WHERE spec_id = #{specId}
    </select>
</mapper>
