<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.communitymanage.mapper.publicity.PublicityMapper">
    <select id="listPublicity" resultType="com.zeroone.star.project.dto.j5.community.publicity.PublicityDTO">
        SELECT
        pub_id,
        title,
        pub_type,
        header_img,
        community_id,
        context,
        create_time,
        create_user_name
        FROM community_publicity
        <where>
            status_cd = '0'
            <if test="communityId != null and communityId != ''">
                AND community_id = #{communityId}
            </if>
            <if test="pubType != null and pubType != ''">
                AND pub_type = #{pubType}
            </if>
            <if test="title != null and title != ''">
                AND title LIKE CONCAT('%', #{title}, '%')
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="getPublicityDetail" parameterType="string" resultType="com.zeroone.star.project.dto.j5.community.publicity.PublicityDetailDTO">
        SELECT
            pub_id,
            title,
            pub_type,
            header_img,
            community_id,
            context,
            create_time,
            create_user_name,
            read_count,
            like_count,
            collect_count
        FROM community_publicity
        WHERE
            pub_id = #{pubId}
          AND community_id = #{communityId}
          AND status_cd = '0'
    </select>
</mapper>
