<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.systemmanage.mapper.SystemInfoMapper">


    <update id="updateSystemInfo">
        update system_info t set t.status_cd = #{statusCd}
        <if test="imgUrl !=null and imgUrl != ''">
            , t.img_url= #{imgUrl}
        </if>
        <if test="ownerTitle !=null and ownerTitle != ''">
            , t.owner_title= #{ownerTitle}
        </if>
        <if test="defaultCommunityId !=null and defaultCommunityId != ''">
            , t.default_community_id= #{defaultCommunityId}
        </if>
        <if test="systemTitle !=null and systemTitle != ''">
            , t.system_title= #{systemTitle}
        </if>
        <if test="systemSimpleTitle !=null and systemSimpleTitle != ''">
            , t.system_simple_title= #{systemSimpleTitle}
        </if>
        <if test="qqMapKey !=null and qqMapKey != ''">
            , t.qq_map_key= #{qqMapKey}
        </if>
        <if test="subSystemTitle !=null and subSystemTitle != ''">
            , t.sub_system_title= #{subSystemTitle}
        </if>
        <if test="companyName !=null and companyName != ''">
            , t.company_name= #{companyName}
        </if>
        <if test="mallUrl !=null and mallUrl != ''">
            , t.mall_url= #{mallUrl}
        </if>
        <if test="logoUrl !=null and logoUrl != ''">
            , t.logo_url= #{logoUrl}
        </if>
        <if test="propertyTitle !=null and propertyTitle != ''">
            , t.property_title= #{propertyTitle}
        </if>
        where 1=1
        <if test="systemId !=null and systemId != ''">
            and t.system_id= #{systemId}
        </if>
    </update>
</mapper>
