<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zeroone.star.communitymanage.mapper.mycommunity.hc.MyCommunityMapper">

    <select id="selectMyCommunity" resultType="com.zeroone.star.project.vo.j5.community.mycommunity.MyCommunityVO">
        select DISTINCT
            c1.area_name as community_county,c2.area_name as community_city,c2.parent_area_name as community_province,
            sc.name,sc.community_id,sc.tel,sc.community_area,sc.state,sc.nearby_landmarks,sc.map_x,sc.map_y,sc.city_code,sc.address,sc.qr_code,
            scm.start_time,scm.end_time
        from city_area c1,city_area c2,s_community sc,s_community_member scm
        where sc.community_id = scm.community_id and sc.city_code = c1.area_code and c1.parent_area_code = c2.area_code
          and sc.community_id = #{communityId} and scm.member_id in
        <foreach collection="storeIds" item="storeId" separator="," open="(" close=")">
            #{storeId}
        </foreach>
    </select>

    <select id="selectAllMyCommunity" resultType="com.zeroone.star.project.vo.j5.community.mycommunity.AllMyCommunityVO">
        select DISTINCT sc.community_id,sc.name,sc.address
        from s_community sc,s_community_member scm
        where sc.community_id = scm.community_id
          and scm.member_id in
        <foreach collection="storeIds" item="storeId" separator="," open="(" close=")">
            #{storeId}
        </foreach>
        <if test="name != null">
            and name like CONCAT("%",#{name},"%")
        </if>
    </select>

</mapper>
