<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zeroone.star.reportconfiguration.mapper.MessageMapper">

    <select id="selectWithGroup" resultType="com.zeroone.star.project.vo.j3.reportconfiguration.message.MessageVo">
        SELECT rc.custom_id, rc.title, rc.seq, rc.remark, rg.name AS groupName
        FROM report_custom rc
        LEFT JOIN report_custom_group rg ON rc.group_id = rg.group_id
        <where>
            <if test="query.customId != null and query.customId != ''">
                AND rc.custom_id = #{query.customId}
            </if>
            <if test="query.groupId != null and query.groupId != ''">
                AND rc.group_id = #{query.groupId}
            </if>
            <if test="query.title != null and query.title != ''">
                AND rc.title LIKE CONCAT('%', #{query.title}, '%')
            </if>
        </where>
        ORDER BY rc.seq ASC, rc.create_time DESC, rc.custom_id DESC
    </select>

    <select id="existsByGroupId" resultType="java.lang.Boolean">
        SELECT EXISTS(
            SELECT 1
            FROM report_custom_group
            WHERE group_id = #{groupId}
        )
    </select>
</mapper>
