<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.reportconfiguration.mapper.ReportCustomComponentRelMapper">

    <resultMap id="reportComponentRel" type="com.zeroone.star.project.vo.j3.reportconfiguration.message.ReportComponentRelVo">
        <result property="componentGroup" column="component_group"/>
        <result property="componentId" column="component_id"/>
        <result property="componentName" column="name"/>
        <result property="componentType" column="component_type"/>
        <result property="queryModel" column="query_model"/>
        <result property="createTime" column="create_time"/>
        <result property="customId" column="custom_id"/>
        <result property="relId" column="rel_id"/>
        <result property="seq" column="seq"/>
        <result property="statusCd" column="status_cd"/>
    </resultMap>

    <select id="ComponentRelPageList"
            resultMap="reportComponentRel">
        select
            component_group,r1.component_id,`name`,component_type,r2.create_time,custom_id,query_model,rel_id,seq,r1.status_cd
        from report_custom_component r1
                 left join report_custom_component_rel r2 on r1.component_id = r2.component_id
        <where>
            <if test="query.customId != null and query.customId != ''">
                and r2.custom_id = #{query.customId}
            </if>
        </where>
    </select>
</mapper>
