<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.orgmanager.mapper.AssociatedPersonnelMapper">

    <!-- 插入关联人员信息 -->
    <insert id="insertAssociatedPersonnel" parameterType="com.zeroone.star.orgmanager.entity.AssociatedPersonnelClasses">
        INSERT INTO schedule_classes_staff (
            scs_id, staff_id,schedule_id, staff_name, store_id, status_cd, create_time
        ) VALUES (
                     #{scsId}, #{staffId},#{scheduleId},#{staffName}, #{storeId},  #{statusCd}, #{createTime}
                 )
    </insert>

    <!-- 逻辑删除有效状态的记录 -->
    <update id="deleteByClassesAndStaffId" parameterType="java.util.Map">
        UPDATE schedule_classes_staff
        SET status_cd = 0
        WHERE
            staff_id = #{staffId}
          AND schedule_id = #{scheduleId}
          AND status_cd = 1
    </update>
</mapper>