<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.orgmanager.mapper.EmployeeMapper">
    <resultMap id="UOrgStaffRelResultMap" type="com.zeroone.star.orgmanager.entity.UOrgStaffRel">
        <result property="relCd" column="rel_cd"/>
        <result property="orgId" column="org_id"/>
    </resultMap>

    <resultMap id="PPrivilegeUserResultMap" type="com.zeroone.star.orgmanager.entity.PPrivilegeUser">
        <result property="pId" column="p_id"/>
        <result property="storeId" column="store_id"/>
    </resultMap>

    <resultMap id="PPrivilegeAuthResultMap" type="com.zeroone.star.orgmanager.entity.EmpAuth">
        <result property="id" column="p_id"/>
        <result property="name" column="name"/>
        <result property="parentAuthId" column="m_id"/>
    </resultMap>

    <resultMap id="MMenuAuthResultMap" type="com.zeroone.star.orgmanager.entity.EmpAuth">
        <result property="name" column="name"/>
        <result property="parentAuthId" column="g_id"/>
    </resultMap>


    <select id="selectRelCdAndOrgId" parameterType="String" resultMap="UOrgStaffRelResultMap">
        SELECT rel_cd,org_id
        FROM u_org_staff_rel
        WHERE staff_id = #{userId}
    </select>


<!--    <select id="selectOrg" parameterType="String" resultType="String">-->
<!--        SELECT org_name-->
<!--        FROM u_org-->
<!--        WHERE org_id = #{orgId}-->
<!--    </select>-->

    <select id="selectJob" parameterType="String" resultType="String">
        SELECT name
        FROM t_dict
        WHERE status_cd = #{relCd} AND table_columns = 'rel_cd' AND table_name = 'u_org_staff_rel'
    </select>

    <select id="selectPIdAndStoreId" parameterType="String" resultMap="PPrivilegeUserResultMap">
        SELECT p_id,store_id
        FROM p_privilege_user
        WHERE user_id = #{userId}
    </select>

    <select id="selectAssociatedRoles" parameterType="String" resultType="String">
        SELECT name
        FROM p_privilege_group
        WHERE pg_id = #{pId}
    </select>

    <select id="selectAssociatedCommunities" parameterType="String" resultType="String">
        SELECT community_name
        FROM u_role_community
        WHERE store_id = #{storeId}
    </select>

    <select id="selectDomain" parameterType="String" resultType="String">
        SELECT domain
        FROM p_privilege_group
        WHERE pg_id = #{pId}
    </select>

<!--    <select id="selectAuthorities" parameterType="String" resultType="String">-->
<!--        SELECT name-->
<!--        FROM p_privilege-->
<!--        WHERE domain = #{domain}-->
<!--    </select>-->

    <update id="updateJob">
        UPDATE t_dict
        SET name = #{job}
        WHERE status_cd = #{relCd} AND table_columns = 'rel_cd' AND table_name = 'u_org_staff_rel'
    </update>

    <select id="selectRelCd" parameterType="String" resultType="String">
        SELECT status_cd
        FROM t_dict
        WHERE name = #{job} AND table_columns = 'rel_cd' AND table_name = 'u_org_staff_rel'
    </select>

    <select id="selectOrgId" parameterType="String" resultType="String">
        SELECT org_id
        FROM u_org
        WHERE org_name = #{associatedOrg}
    </select>

    <insert id="insertUOrgStaffRel" parameterType="com.zeroone.star.orgmanager.entity.UOrgStaffRel">
        INSERT INTO u_org_staff_rel (rel_id, b_id, org_id, staff_id, rel_cd, create_time, status_cd, store_id)
        VALUES (#{relId},#{bId},#{orgId},#{staffId},#{relCd},#{createTime},#{statusCd},#{storeId})
    </insert>

    <select id="selectUOrg" parameterType="String" resultType="com.zeroone.star.orgmanager.entity.UOrg">
        SELECT org_name,parent_org_id
        FROM u_org
        WHERE org_id = #{orgId}
    </select>

    <insert id="insertFileRel" parameterType="com.zeroone.star.orgmanager.entity.FileRel">
        INSERT INTO file_rel (file_rel_id, b_id, rel_type_cd,save_way,obj_id,file_real_name,file_save_name,create_time,status_cd)
        VALUES (#{fileRelId},#{bId},#{relTypeCd},#{saveWay},#{objId},#{fileRealName},#{fileSaveName},#{createTime},#{statusCd})
    </insert>

    <update id="updateFileRel" parameterType="String">
        UPDATE file_rel
        SET file_real_name=#{fileRealName},file_save_name=#{fileSaveName}
        WHERE obj_id = #{objId} AND save_way='OSS'
    </update>

    <select id="getFileSaveName" parameterType="String" resultType="String">
        SELECT file_save_name
        FROM file_rel
        WHERE obj_id = #{objId}
    </select>

    <select id="selectAuthOnPPrivilge" parameterType="String" resultMap="PPrivilegeAuthResultMap">
        SELECT p_id,name,m_id
        FROM p_privilege
        WHERE domain = #{domain}
    </select>

    <select id="selectAuthOnMMenu" parameterType="String" resultMap="MMenuAuthResultMap">
        SELECT name,g_id
        FROM m_menu
        WHERE m_id = #{mId}
    </select>

    <select id="selectAuthOnMMenuGroup" parameterType="String" resultType="String">
        SELECT name
        FROM m_menu_group
        WHERE g_id = #{gId}
    </select>

    <insert id="insertSStoreUser" parameterType="com.zeroone.star.orgmanager.entity.SStoreUser">
        INSERT INTO s_store_user (store_user_id, store_id, b_id, user_id, rel_cd, create_time, status_cd)
        VALUES (#{storeUserId},#{storeId},#{bId},#{userId},#{relCd},#{createTime},#{statusCd})
    </insert>

    <insert id="insertBusinessStoreUser" parameterType="com.zeroone.star.orgmanager.entity.BusinessStoreUser">
        INSERT INTO business_store_user (store_user_id, store_id, b_id, user_id, rel_cd, create_time,operate)
        VALUES (#{storeUserId},#{storeId},#{bId},#{userId},#{relCd},#{createTime},#{operate})
    </insert>


    <select id="selectEmployeeList"
            resultType="com.zeroone.star.project.vo.j4.orgmanager.EmployeeListVO">
        SELECT u.user_id AS userId,
        u.name AS name,
        u.tel AS tel,
        o.org_name AS orgName,
        d.name AS postName,
        u.email AS email,
        u.address AS address,
        u.sex AS sex
        FROM u_user u
        JOIN u_org_staff_rel osr ON u.user_id = osr.staff_id
        JOIN u_org o ON osr.org_id = o.org_id
        JOIN t_dict d ON osr.rel_cd = d.status_cd
        <where>
            d.table_name = 'u_org_staff_rel'
            AND d.table_columns = 'rel_cd'
            AND u.status_cd = '0'
            <if test="q.userID  != null and q.userID.trim()  != ''">
                AND u.user_id = #{q.userID}
            </if>
            <if test="q.name    != null and q.name.trim()    != ''">
                AND u.name LIKE CONCAT('%', #{q.name}, '%')
            </if>
            <if test="q.tel     != null and q.tel.trim()     != ''">
                AND u.tel = #{q.tel}
            </if>
            <if test="q.orgId   != null and q.orgId.trim()   != ''">
                AND osr.org_id = #{q.orgId}
            </if>
        </where>
    </select>

    <select id="getRelCdByName" resultType="String" parameterType="String">
        select status_cd
        FROM t_dict
        where name = #{job} AND table_columns = 'rel_cd' AND table_name = 'u_org_staff_rel'
    </select>

    <update id="updateRelCd" parameterType="String">
        UPDATE u_org_staff_rel
        SET rel_cd = #{relCd}
        WHERE staff_id = #{userId}
    </update>
</mapper>
