<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.orgmanager.mapper.OrganizationInfoMapper">
    <select id="selectOrganizationTreeByOrgId" resultType="com.zeroone.star.orgmanager.entity.UOrg">
    <![CDATA[
        WITH RECURSIVE OrgHierarchy AS (
            SELECT
                u.org_id,
                u.parent_org_id,
                u.org_name,
                u.status_cd,
                u.belong_community_id,
                u.store_id,
                u.allow_operation,
                u.parent_org_id AS path_start,
                CAST(u.org_id AS CHAR(2000)) AS path
            FROM u_org u
            WHERE
                u.status_cd = '0'
              AND (u.belong_community_id = '' OR u.belong_community_id = '9999')
              AND u.allow_operation = 'T'
              AND u.store_id IN (
                SELECT store_id
                FROM u_org_staff_rel
                WHERE staff_id = #{userId}
            )

            UNION ALL

            SELECT
                p.org_id,
                p.parent_org_id,
                p.org_name,
                p.status_cd,
                p.belong_community_id,
                p.store_id,
                p.allow_operation,
                h.path_start,
                CONCAT(h.path, ',', p.org_id)
            FROM u_org p
                     INNER JOIN OrgHierarchy h ON p.org_id = h.parent_org_id
            WHERE
                p.status_cd = '0'
              AND h.path NOT LIKE CONCAT('%,', p.org_id, ',%')
        )

        SELECT DISTINCT
            uo.org_id, uo.b_id, uo.store_id, uo.org_name,
            uo.org_level, uo.parent_org_id, uo.description,
            uo.create_time, uo.status_cd, uo.belong_community_id,
            uo.allow_operation
        FROM OrgHierarchy h
                 JOIN u_org uo ON h.org_id = uo.org_id
        WHERE
            h.path_start IN (
                SELECT org_id
                FROM u_org
                WHERE status_cd = '0'
            )
        ]]>
</select>

</mapper>
