<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.orgmanager.mapper.OrganizationStaffMapper">
    <select id="getOrgStaff" resultType="com.zeroone.star.project.dto.j4.orgmanager.OrgStaffDTO">
        select distinct u.name,u.tel,d.name as jobName,u.email,u.address,u.sex from u_org_staff_rel r
        join u_org o on o.org_id = r.org_id
        join u_user u on u.user_id = r.staff_id
        left join t_dict d on d.status_cd = r.rel_cd
        and d.table_name = 'u_org_staff_rel'
        and d.table_columns = 'rel_cd'
        where r.org_id = #{query.orgId}
        and r.status_cd = '0'
        and u.status_cd = '0'
        and o.status_cd = '0'
        <if test="query.name != null and query.name != ''">
            and u.name like concat('%',#{query.name},'%')
        </if>
    </select>
    <!--查询时要注意一个组织下没有相关的员工,数据库里也会存储只不过status_cd=0,
    但是status_cd=0的员工在
    SELECT * FROM u_org_staff_rel u WHERE u.org_id = 102023112785170536
    查询结果下可能会有多条一样的user_id但是status_cd不一样,上面的查询只要考虑去重就行
    但是下面查询要考虑如果有status_cd=1的user_id就要从查询结果去掉-->
    <select id="getAocStaff" resultType="com.zeroone.star.project.dto.j4.orgmanager.AssociatedStaffDTO">
        select distinct u.name,u.tel,u.user_id from u_org_staff_rel r
        join u_org o on o.org_id = r.org_id
        join u_user u on u.user_id = r.staff_id
        where r.org_id = #{query.orgId}
        and r.status_cd = '1'
        and o.status_cd = '0'
        and u.status_cd = '0'
        and u.user_id not in (
        select r1.staff_id
        from u_org_staff_rel r1
        where r1.org_id = #{query.orgId}
        and r1.status_cd = '0'
        )
        <if test="query.name != null and query.name != ''">
            and u.name like concat('%',#{query.name},'%')
        </if>
    </select>

    <select id="countOrgStaff" resultType="java.lang.Long">
        SELECT COUNT(DISTINCT u.user_id) as total
        FROM u_org_staff_rel r
        JOIN u_org o ON o.org_id = r.org_id
        JOIN u_user u ON u.user_id = r.staff_id
        WHERE r.org_id = #{query.orgId}
        AND r.status_cd = '0'
        AND u.status_cd = '0'
        AND o.status_cd = '0'
        <if test="query.name != null and query.name != ''">
            AND u.name LIKE CONCAT('%', #{query.name}, '%')
        </if>
    </select>
</mapper>