<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zeroone.star.orgmanager.mapper.SchedulingMapper">
    <delete id="deleteByScheduleId">
        delete from schedule_classes where schedule_id=#{dId};
    </delete>
    <select id="selectSchedule"
            parameterType="com.zeroone.star.project.query.j4.orgmanager.ScheduleQuery"
            resultType="com.zeroone.star.project.vo.j4.orgmanager.ScheduleVO">
        SELECT
        sc.schedule_id AS scheduleId,
        sc.name,
        sc.schedule_type AS scheduleType,
        sc.schedule_cycle AS scheduleCycle,
        -- 状态转换逻辑
        CASE sc.state
        WHEN 1001 THEN '启用'
        WHEN 2002 THEN '停用'
        ELSE CAST(sc.state AS CHAR)
        END AS state,
        sc.compute_time AS computeTime,
        sc.create_time AS createTime,
        COUNT(DISTINCT scs.staff_id) AS staffCount
        FROM
        schedule_classes sc
        LEFT JOIN schedule_classes_staff scs ON sc.schedule_id = scs.schedule_id
        <where>
            <if test="name != null and name != ''">
                sc.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="state != null and state != ''">
                AND sc.state = #{state}  <!-- 显式添加AND连接符 -->
            </if>
        </where>
        GROUP BY
        sc.schedule_id
    </select>
    <select id="countTotal" resultType="java.lang.Long">
        select count(schedule_id) from schedule_classes
        <where>
            <if test="name != null and name != ''">
                AND name = #{name}
            </if>
            <if test="state != null and state != ''">
                AND state = #{state}
            </if>
        </where>
    </select>
    <insert id="insertScheduleClasses">
        INSERT INTO schedule_classes
        (schedule_id,b_id,name, schedule_type, schedule_cycle, store_id,state,remark,compute_time,create_time,status_cd)
        VALUES
            (#{scheduleId},#{bId} ,#{name}, #{scheduleType}, #{scheduleCycle}, #{storeId}, #{state},#{remark},#{computeTime},#{createTime},#{statusCd})
    </insert>
</mapper>