<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.patrolmgt.mapper.InspectionPlanMapper">

    <resultMap id="PlanDTOResultMap" type="com.zeroone.star.project.j8.patrolmgt.plan.dto.PlanDTO">
<!--        <id property="planId" column="ip_inspection_plan_id"/>-->
        <result property="inspectionPlanName" column="ip_inspection_plan_name"/>
        <result property="routeName" column="ir_route_name"/>
        <result property="inspectionPlanPeriod" column="ip_inspection_plan_period"/>
        <result property="signType" column="ip_sign_type"/>
        <result property="startDate" column="ip_start_date"/>
        <result property="endDate" column="ip_end_date"/>
        <result property="startTime" column="ip_start_time"/>
        <result property="endTime" column="ip_end_time"/>
        <result property="beforeTime" column="ip_before_time"/>
        <result property="createUserName" column="ip_create_user_name"/>
        <result property="createTime" column="ip_create_time"/>
        <result property="state" column="ip_state"/>

        <result property="timeRange" column="timeRange"/>
        <result property="dateRange" column="dateRange"/>

    </resultMap>

    <select id="queryPlanList" resultMap="PlanDTOResultMap">
        SELECT
        ip.inspection_plan_id AS ip_inspection_plan_id,     -- PlanDTO 需要一个ID字段，如 inspectionPlanId
        ip.inspection_plan_name AS ip_inspection_plan_name,
        ir.route_name AS ir_route_name,                          -- 从 inspection_route 表获取路线名称
        ip.inspection_plan_period AS ip_inspection_plan_period,
        ip.sign_type AS ip_sign_type,
        ip.start_date AS ip_start_date,
        ip.end_date AS ip_end_date,
        ip.start_time AS ip_start_time,
        ip.end_time AS ip_end_time,
        ip.before_time AS ip_before_time,
        ip.create_user_name AS ip_create_user_name,
        ip.create_time AS ip_create_time,
        ip.state AS ip_state,
        -- 拼接日期段: "YYYY-MM-DD ~ YYYY-MM-DD"
        CONCAT(DATE_FORMAT(ip.start_date, '%Y-%m-%d'), ' ~ ', DATE_FORMAT(ip.end_date, '%Y-%m-%d')) AS dateRange,
        -- 拼接时间段: "HH:mm ~ HH:mm" (start_time, end_time已经是varchar，不需要DATE_FORMAT)
        CONCAT(ip.start_time, ' ~ ', ip.end_time) AS timeRange

        FROM
        inspection_plan ip
        LEFT JOIN
        inspection_route ir
        ON ip.inspection_route_id = ir.inspection_route_id
        <where>
            <if test="query.inspectionPlanName != null and query.inspectionPlanName != ''">
                AND ip.inspection_plan_name LIKE CONCAT('%', #{query.inspectionPlanName}, '%')
            </if>
            <if test="query.state != null and query.state != ''">
                AND ip.state = #{query.state}
            </if>
            <if test="query.inspectionPlanId != null and query.inspectionPlanId != ''">
                AND ip.inspection_plan_id = #{query.inspectionPlanId}
            </if>
        </where>
        ORDER BY ip.create_time DESC
    </select>
    <!-- 巡检计划详情的 resultMap -->
    <resultMap id="PlanDetailResultMap" type="com.zeroone.star.project.j8.patrolmgt.plan.dto.PlanHeadDetailDTO">
<!--        <id property="planId" column="inspection_plan_id"/>-->
        <result property="inspectionPlanName" column="inspection_plan_name"/>
        <result property="routeName" column="route_name"/>
        <result property="inspectionPlanPeriod" column="inspection_plan_period"/>
        <result property="signType" column="sign_type"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="beforeTime" column="before_time"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="state" column="state"/>
        <!-- 拼接字段 -->
        <result property="dateRange" column="dateRange"/>
        <result property="timeRange" column="timeRange"/>
    </resultMap>

    <!-- 查询巡检计划详情的 select -->
    <select id="getPlanDetail" resultMap="PlanDetailResultMap">
        SELECT
            ip.inspection_plan_id,
            ip.inspection_plan_name,
            ir.route_name,
            ip.inspection_plan_period,
            ip.sign_type,
            ip.start_date,
            ip.end_date,
            ip.start_time,
            ip.end_time,
            ip.before_time,
            ip.create_user_name,
            ip.create_time,
            ip.state,
            CONCAT(DATE_FORMAT(ip.start_date, '%Y-%m-%d'), ' ~ ', DATE_FORMAT(ip.end_date, '%Y-%m-%d')) AS dateRange,
            CONCAT(ip.start_time, ' ~ ', ip.end_time) AS timeRange
        FROM
            inspection_plan ip
                LEFT JOIN
            inspection_route ir ON ip.inspection_route_id = ir.inspection_route_id
        WHERE
            ip.inspection_plan_id = #{planId}
    </select>
</mapper>