<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.patrolmgt.mapper.InspectionRouteMapper">

    <insert id="insertInspectionRoute" parameterType="com.zeroone.star.patrolmgt.entity.NiuJiaXu_InspectionRoute">
        insert into inspection_route
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="inspectionRouteId != null">inspection_route_id,</if>
            <if test="bId != null">b_id,</if>
            <if test="routeName != null and routeName != ''">route_name,</if>
            <if test="communityId != null and communityId != ''">community_id,</if>
            <if test="seq != null and seq != ''">seq,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="statusCd != null and statusCd != ''">status_cd,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="inspectionRouteId != null">#{inspectionRouteId},</if>
            <if test="bId != null">#{bId},</if>
            <if test="routeName != null and routeName != ''">#{routeName},</if>
            <if test="communityId != null and communityId != ''">#{communityId},</if>
            <if test="seq != null and seq != ''">#{seq},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="statusCd != null and statusCd != ''">#{statusCd},</if>
         </trim>
    </insert>

    <update id="updateInspectionRoute" parameterType="com.zeroone.star.patrolmgt.entity.NiuJiaXu_InspectionRoute">
        update inspection_route
        <trim prefix="SET" suffixOverrides=",">
            <if test="bId != null">b_id = #{bId},</if>
            <if test="routeName != null and routeName != ''">route_name = #{routeName},</if>
            <if test="communityId != null and communityId != ''">community_id = #{communityId},</if>
            <if test="seq != null and seq != ''">seq = #{seq},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="statusCd != null and statusCd != ''">status_cd = #{statusCd},</if>
        </trim>
        where inspection_route_id = #{inspectionRouteId}
    </update>

    <delete id="deleteInspectionRouteByInspectionRouteId" parameterType="String">
        delete from inspection_route where inspection_route_id = #{inspectionRouteId}
    </delete>


</mapper>