<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.patrolmgt.mapper.TaskMapper">

    <select id="selectTaskById" resultType="com.zeroone.star.patrolmgt.entity.InspectionTask">
        SELECT task.task_id,
               task.b_id,
               task.community_id,
               task.inspection_plan_id,
               task.plan_ins_time,
               task.act_ins_time,
               task.plan_user_id,
               task.plan_user_name,
               task.act_user_id,
               task.act_user_name,
               task.sign_type,
               task.status_cd,
               task.create_time,
               task.state,
               task.ip_staff_id,
               task.original_plan_user_id,
               task.original_plan_user_name,
               task.transfer_desc,
               task.task_type,
               task.plan_end_time,
               plan.inspection_plan_name
        FROM inspection_task task
            JOIN inspection_plan plan
            ON task.inspection_plan_id = plan.inspection_plan_id
        WHERE task.task_id = #{id}
    </select>

    <select id="selectTaskByPage" resultType="com.zeroone.star.patrolmgt.entity.InspectionTask">
        SELECT task.task_id,
               task.b_id,
               task.community_id,
               task.inspection_plan_id,
               task.plan_ins_time,
               task.act_ins_time,
               task.plan_user_id,
               task.plan_user_name,
               task.act_user_id,
               task.act_user_name,
               task.sign_type,
               task.status_cd,
               task.create_time,
               task.state,
               task.ip_staff_id,
               task.original_plan_user_id,
               task.original_plan_user_name,
               task.transfer_desc,
               task.task_type,
               task.plan_end_time,
               plan.inspection_plan_name
        FROM inspection_task task
            JOIN inspection_plan plan
            ON task.inspection_plan_id = plan.inspection_plan_id
        WHERE
            task.community_id = #{query.communityId}
        <if test="query.planId != null and query.planId != ''">
            AND task.inspection_plan_id = #{query.planId}
        </if>
        <if test="query.planUserName != null and query.planUserName != ''">
            AND task.plan_user_name = #{query.planUserName}
        </if>
        <if test="query.actUserName != null and query.actUserName != ''">
            AND task.act_user_name = #{query.actUserName}
        </if>
        <if test="query.planInsTime != null">
            AND task.plan_ins_time &gt;= #{query.planInsTime}
        </if>
        <if test="query.planEndTime != null">
            AND task.plan_end_time &lt;= #{query.planEndTime}
        </if>
        <if test="query.state != null and query.state != ''">
            AND task.state = #{query.state}
        </if>
    </select>
</mapper>