<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.datamanager.mapper.PropertyManagementMapper">
    <delete id="deleteByStoreId" parameterType="java.lang.String">
        delete
        from s_store
        where store_id = #{storeId}
    </delete>


    <select id="selectCount" resultType="java.lang.Long">
        select
        count(1)
        from
        s_store s left join u_user u on s.tel = u.tel
        <where>
            <if test="query.storeId != null and query.storeId != ''">
                AND s.store_id = #{query.storeId}
            </if>
            <if test="query.storeName != null and query.storeName != ''">
                AND s.name = #{query.storeName}
            </if>
            <if test="query.tel != null and query.tel != ''">
                AND s.tel = #{query.tel}
            </if>
        </where>
    </select>

    <select id="selectPage" resultType="com.zeroone.star.project.vo.j4.datamanager.CompanyVO">
        select
        s.store_id as storeId,
        s.name as storeName,
        s.address as address,
        s.tel as administrator,
        s.tel as tel,
        u.name as userName,
        s.create_time as createDate,
        IFNULL(s.nearby_landmarks, '') as nearbyLandmarks,
        s.create_time as createTime
        from
        s_store s left join u_user u on s.tel = u.tel
        <where>
            <if test="query.storeId != null and query.storeId != ''">
                AND s.store_id = #{query.storeId}
            </if>
            <if test="query.storeName != null and query.storeName != ''">
                AND s.name = #{query.storeName}
            </if>
            <if test="query.tel != null and query.tel != ''">
                AND s.tel = #{query.tel}
            </if>
        </where>
        order by s.create_time desc
        limit #{offset}, #{pageSize}
    </select>
    <select id="queryJoinCommunityList"
            resultType="com.zeroone.star.project.vo.j4.datamanager.JoinCommunityVO">
        select s_community.community_id as communityId,
               name as communityName,
               address as communityAddress,
               city_code as cityCode,
               state
        from s_community left join s_community_member
            on s_community.community_id = s_community_member.community_id
       <where>
           and s_community_member.community_member_id = #{query.communityMemberId}
           <if test="query.communityId != null and query.communityId != ''">
                and s_community.community_id = #{query.communityId}
           </if>
           <if test="query.communityName != null and query.communityName != ''">
                and s_community.name like concat('%',#{query.communityName},'%')
           </if>
               and s_community.status_cd = '0'
       </where>
        limit #{pageIndex}, #{pageSize}
    </select>
    <select id="selectCommunityMenuGroup"
            resultType="com.zeroone.star.project.vo.j4.datamanager.CommunityMenuGroup">
        select name as communityName,
               g_id as gId,
               status_cd as statusCd
        from tt.m_menu_group_community
        where community_id = #{communityId}
          and create_time =
              (select max(create_time) from tt.m_menu_group_community where community_id = #{communityId})
    </select>

    <sql id="commonConditions">
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="query.storeId != null and query.storeId != ''">
                AND s.store_id = #{query.storeId}
            </if>
            <if test="query.storeName != null and query.storeName != ''">
                AND s.name LIKE CONCAT('%', #{query.storeName}, '%')
            </if>
            <if test="query.tel != null and query.tel != ''">
                AND s.tel = #{query.tel}
            </if>
        </trim>
    </sql>

    <select id="countCompanies" resultType="java.lang.Long">
        SELECT COUNT(1) AS total
        FROM s_store s
        LEFT JOIN u_user u ON s.tel = u.tel
        <include refid="commonConditions"/>
    </select>

    <select id="getCompanyList" resultType="com.zeroone.star.project.vo.j4.datamanager.CompanyVO">
        SELECT
        s.store_id AS storeId,
        s.name AS storeName,
        s.address AS address,
        s.tel AS administrator,
        s.tel AS tel,
        u.name AS userName,
        s.create_time AS createDate,
        IFNULL(s.nearby_landmarks, '') AS nearbyLandmarks,
        s.create_time AS createTime
        FROM s_store s
        LEFT JOIN u_user u ON s.tel = u.tel
        <include refid="commonConditions"/>
        ORDER BY s.create_time DESC
        LIMIT #{offset}, #{pageSize}
    </select>


    <select id="queryCompanyList" resultType="com.zeroone.star.project.vo.j4.datamanager.CompanyVO">
        <choose>
            <!-- 处理分页查询（返回具体数据） -->
            <when test="offset != null and pageSize != null">
                SELECT DISTINCT
                s.store_id AS storeId,
                s.name AS storeName,
                s.address AS address,
                s.tel AS administrator,
                s.tel AS tel,
                u.name AS userName,
                s.create_time AS createDate,
                IFNULL(s.nearby_landmarks, '') AS nearbyLandmarks,
                s.create_time AS createTime
                FROM s_store s
                LEFT JOIN u_user u ON s.tel = u.tel
                <include refid="commonConditions"/>
                ORDER BY s.create_time DESC
                LIMIT #{offset}, #{pageSize}
            </when>
            <!-- 处理计数查询（返回总记录数） -->
            <otherwise>
                SELECT COUNT(1) AS total
                FROM s_store s
                LEFT JOIN u_user u ON s.tel = u.tel
                <include refid="commonConditions"/>
            </otherwise>
        </choose>
    </select>

    <select id="selectByCommunityNameAndId" resultType="com.zeroone.star.datamanager.entity.MMenuGroupCommunity">
        SELECT * FROM m_menu_group_community
        <where>
            <if test="communityName  != null and communityName  != ''">
                and community_name = #{communityName}
            </if>
        and status_cd = '0'
        </where>
    </select>

    <!-- 根据名称列表查询存在的功能 -->
    <select id="selectExistFunctions" resultType="java.lang.String">
        SELECT name FROM m_menu_group
        WHERE status_cd = '0'
        AND name IN
        <foreach collection="functionNames" item="name" open="(" separator="," close=")">
            #{name}
        </foreach>
    </select>


    <insert id="insert" parameterType="com.zeroone.star.datamanager.entity.SStore">
        INSERT INTO s_store (
            store_id,
            name,
            address,
            tel,
            nearby_landmarks,
            user_id,
            map_x,
            map_y,
            create_time,
            status_cd,
            state
) VALUES (
            #{storeId},
            #{name},
            #{address},
            #{tel},
            #{nearbyLandmarks},
            #{userId},
            COALESCE(#{mapX}, '0'),
            COALESCE(#{mapY}, '0'),
            #{createTime},
            COALESCE(#{statusCd}, '0'),
            COALESCE(#{state}, '48001')
          )
    </insert>

    <insert id="insertMenuGroupCommunity">
        insert into tt.m_menu_group_community (
            gc_id, g_id, name, community_id, community_name
        ) VALUES
                <foreach collection="mMenuGroupCommunityList" item="item" separator=",">
                    (#{item.gcId}, #{item.gId}, #{item.name}, #{item.communityId}, #{item.communityName})
                </foreach>
    </insert>
    <update id="updateByStoreId">
        UPDATE u_user u
        SET u.name = #{userName}
        WHERE u.user_id = (
            SELECT user_id
            FROM s_store
            WHERE store_id = #{storeId}
        );

        UPDATE s_store s
        SET
            s.name = #{storeName},
            s.address = #{address},
            s.tel = #{tel},
            s.create_time = #{createDate},
            s.nearby_landmarks = #{nearbyLandmarks}
        WHERE s.store_id = #{storeId};
    </update>
    <update id="resetCompanyPassword">
        UPDATE u_user u
        SET u.password = #{password}
        WHERE u.user_id = (select s.user_id from s_store s where s.store_id = #{storeId});
    </update>
    <update id="limitCompanyLogin">
        UPDATE s_store
        SET status_cd = #{operate}
        WHERE store_id = #{storeId};
    </update>

    <select id="selectByStoreId" resultType="com.zeroone.star.datamanager.entity.SStore">
        SELECT * FROM s_store WHERE store_id = #{storeId}
    </select>
</mapper>