<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.communitymanage.mapper.building.BuildingOwnerMapper">
<!--BuildingOwnerDTO getOwnerInfoByOwnerId(String ownerId);-->

    <select id="getOwnerInfoByOwnerId" resultType="com.zeroone.star.project.dto.j5.community.building.BuildingOwnerDTO">
        SELECT
            owner_id AS ownerId,
            name AS ownerName,
            link,
            id_card AS idCard
        FROM
            building_owner
        WHERE
            owner_id = #{ownerId}
        LIMIT 1
    </select>
</mapper>
