<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.communitymanage.mapper.building.BusinessFloorMapper">

    <!-- 根据 communityId 和 floorId 查询并映射为 BusinessFloorDTO -->
    <select id="getFloorNumByCommunityIdAndFloorId" resultType="com.zeroone.star.project.dto.j5.community.building.BusinessFloorDTO">
        SELECT
            floor_num AS floorNum
        FROM
            business_floor
        WHERE
            community_id = #{communityId}
          AND
            floor_id = #{floorId}
    </select>

    <select id="getFloorDTOByCommunityId" resultType="com.zeroone.star.project.dto.j5.community.building.BusinessFloorDTO">
        SELECT
            floor_id AS floorId,
            floor_num AS floorNum,
            `name` AS floorName
        FROM
            business_floor
        WHERE
            community_id = #{communityId}
        ORDER BY seq ASC, `name` ASC;
    </select>
</mapper>
