<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.merchantmanage.mapper.MerchantAdminMapper">
    <update id="updateMerchantAdminStatus">
        update s_store
        set state = #{status}
        where user_id = #{userId}
    </update>


    <select id="listAllMerchantAdmins"
            resultType="com.zeroone.star.project.dto.j3.merchantmanage.admin.MerchantAdminDTO">
        SELECT
        MAX(s.name) AS name,
        MAX(u.name) AS userName,
        MAX(u.tel) AS tel,
        MAX(u.user_id) AS userId,
        MAX(s.state) AS status,
        MAX(s.create_time) AS createTime
        FROM
        s_store s
        LEFT JOIN (
        SELECT
        store_id,
        user_id
        FROM
        s_store_user su
        LEFT JOIN store_user_rel rel ON su.rel_cd = rel.rel_cd
        AND rel.name = '管理员关系'
        WHERE
        su.status_cd = '0'
        AND rel.name = '管理员关系'
        ORDER BY
        su.create_time DESC
        ) su ON s.store_id = su.store_id
        LEFT JOIN u_user u ON su.user_id = u.user_id AND u.status_cd = '0'
        WHERE
        s.status_cd = '0'
        <if test="query.storeName != null and query.storeName != ''">
            AND s.name LIKE CONCAT('%', #{query.storeName}, '%')
        </if>
        <if test="query.name != null and query.name != ''">
            AND u.name LIKE CONCAT('%', #{query.name}, '%')
        </if>
        <if test="query.tel != null and query.tel != ''">
            AND s.tel LIKE CONCAT('%', #{query.tel}, '%')
        </if>
        GROUP BY
        s.store_id
        ORDER BY
        MAX(s.create_time) DESC
    </select>
</mapper>