<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.parkmanage.mapper.OwnerVehicleExportMapper">

    <!-- ExportVehicleDO 的结果映射 -->
    <resultMap id="ExportVehicleDOResultMap" type="com.zeroone.star.parkmanage.entity.VehicleDO">
        <id column="car_id" property="carId"/>
        <result column="car_num" property="carNumber"/>
        <result column="car_type_name" property="carTypeName"/>
        <result column="car_brand" property="carBrand"/>
        <result column="car_color" property="carColor"/>
        <result column="ps_id" property="psId"/>
        <result column="ps_num" property="parkingSpaceNum"/>
        <result column="area_num" property="areaNum"/>
        <result column="pa_id" property="paId"/>
        <result column="paName" property="paName"/>
        <result column="owner_id" property="ownerId"/>
        <result column="owner_name" property="ownerName"/>
        <result column="owner_tel" property="ownerTel"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="remark" property="remark"/>
        <result column="state_name" property="status"/>
        <result column="member_car_count" property="memberVehicle"/>
        <result column="room" property="room"/>
        <result column="b_id" property="bId"/>
        <result column="id_card" property="idCard"/>
        <result column="car_type" property="carType"/>
        <result column="car_type_cd" property="carTypeCd"/>
        <result column="car_type_cd_name" property="carTypeCdName"/>
        <result column="state" property="state"/>
        <result column="member_id" property="memberId"/>
        <result column="lease_type" property="leaseType"/>
        <result column="lease_type_name" property="leaseTypeName"/>
        <result column="parking_type" property="parkingType"/>
        <result column="parking_type_name" property="parkingTypeName"/>
    </resultMap>

    <!-- 根据查询条件查询导出车辆数据 -->
    <select id="selectVehiclesForExport" parameterType="com.zeroone.star.project.query.j7.parkmanage.ownervehicle.ExportCarQuery"
            resultMap="ExportVehicleDOResultMap">
        SELECT
            t.car_id,
            t.car_num,
            IFNULL(t1.name, '-') AS car_type_name,
            IFNULL(t.car_brand, '-') AS car_brand,
            IFNULL(t.car_color, '-') AS car_color,
            t.ps_id,
            IFNULL(ps.num, '-') AS ps_num,
            IFNULL(pa.num, '-') AS area_num,
            ps.pa_id,
            bow.member_id AS owner_id,
            IFNULL(bow.name, '-') AS owner_name,
            IFNULL(bow.link, '-') AS owner_tel,
            t.start_time,
            t.end_time,
            t.community_id,
            IFNULL(t.remark, '-') AS remark,
            IFNULL(t2.name, '-') AS state_name,
            (SELECT count(moc.member_id) 
             FROM owner_car moc 
             WHERE moc.car_id = t.car_id 
             AND moc.car_type_cd != t.car_type_cd 
             AND moc.car_type_cd = '1002' 
             AND moc.status_cd = '0') AS member_car_count,
            IFNULL(r.room_num, '-') AS room,
            t.b_id,
            IFNULL(bow.id_card, '-') AS id_card,
            t.car_type,
            t.car_type_cd,
            IFNULL(t4.name, '-') AS car_type_cd_name,
            t.state,
            t.member_id,
            t.lease_type,
            IFNULL(t3.name, '-') AS lease_type_name,
            ps.parking_type,
            IFNULL(td2.name, '-') AS parking_type_name
        FROM
            owner_car t
        LEFT JOIN
            building_owner bow ON t.owner_id = bow.member_id AND bow.status_cd = '0' AND bow.community_id = t.community_id
        LEFT JOIN
            parking_space ps ON t.ps_id = ps.ps_id AND ps.status_cd = '0'
        LEFT JOIN
            parking_area pa ON ps.pa_id = pa.pa_id AND pa.status_cd = '0'
        LEFT JOIN
            t_dict t1 ON t.car_type = t1.status_cd AND t1.table_name='owner_car' AND t1.table_columns = 'car_type'
        LEFT JOIN
            t_dict t2 ON t.state = t2.status_cd AND t2.table_name='owner_car' AND t2.table_columns = 'state'
        LEFT JOIN
            t_dict t3 ON t.lease_type = t3.status_cd AND t3.table_name = 'owner_car' AND t3.table_columns = 'lease_type'
        LEFT JOIN
            t_dict t4 ON t.car_type_cd = t4.status_cd AND t4.table_name = 'owner_car' AND t4.table_columns = 'car_type_cd'
        LEFT JOIN
            t_dict td2 ON ps.parking_type = td2.status_cd AND td2.table_name = 'parking_space' AND td2.table_columns = 'parking_type'
        LEFT JOIN
            building_owner_room_rel borr ON t.owner_id = borr.owner_id AND borr.status_cd = '0'
        LEFT JOIN
            building_room r ON borr.room_id = r.room_id AND r.status_cd = '0'
        <where>
            t.status_cd = '0'
            <if test="query.carNum != null and query.carNum != ''">
                AND t.car_num LIKE CONCAT('%', #{query.carNum}, '%')
            </if>
            <if test="query.name != null and query.name != ''">
                AND bow.name LIKE CONCAT('%', #{query.name}, '%')
            </if>
            <if test="query.leaseType != null and query.leaseType != ''">
                AND t.lease_type = #{query.leaseType}
            </if>
            <if test="query.valid != null">
                <choose>
                    <when test="query.valid == 3">
                        AND (t.end_time <![CDATA[ < ]]> now() OR t.state = '3003')
                    </when>
                    <when test="query.valid == 1">
                        AND t.state = '1001'
                    </when>
                    <when test="query.valid == 2">
                        AND t.state = '2002'
                    </when>
                </choose>
            </if>
            <if test="query.num != null and query.num != ''">
                AND ps.num LIKE CONCAT('%', #{query.num}, '%')
            </if>
            <if test="query.link != null and query.link != ''">
                AND bow.link LIKE CONCAT('%', #{query.link}, '%')
            </if>
            <if test="query.memberCarNum != null and query.memberCarNum != ''">
                AND t.car_num LIKE CONCAT('%', #{query.memberCarNum}, '%')
            </if>
        </where>
        ORDER BY t.create_time DESC
    </select>

</mapper> 